<template lang="pug">
.flex.w-full.gap-4
  div.bg-gray-100.px-4.rounded.w-full
    h2.border-b.py-2.font-semibold New Connection Requests
    ElementRequestTable
  div.bg-gray-100.px-4.rounded.w-full
    h2.border-b.py-2.font-semibold Friends


</template>
<script>
export default {
  layout: 'caregiver',
}
</script>
