<template>
  <div>
    <div class="mt-10 sm:mt-0">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">
              Add New Record
            </h3>

            <div class="col-span-6 sm:col-span-3">
              <label
                for="country"
                class="block text-sm font-medium text-gray-700"
                >Type of record</label
              >
              <select
                id="country"
                name="country"
                v-model="recordType"
                autocomplete="country-name"
                class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              >
                <option value="problem">Problem</option>
                <option value="surgery">Surgery</option>
                <option value="medication">Medication</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <form @submit.prevent="addRecord">
            <div class="shadow overflow-hidden sm:rounded-md">
              <div class="px-4 py-5 bg-white sm:p-6">
                <div
                  v-if="recordType == 'problem'"
                  class="grid grid-cols-6 gap-6"
                >
                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="title"
                      class="block text-sm font-medium text-gray-700"
                      >Title</label
                    >
                    <input
                      required
                      type="text"
                      v-model="item.title"
                      name="title"
                      id="title"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="suffuring_from"
                      class="block text-sm font-medium text-gray-700"
                      >Suffuring From</label
                    >
                    <input
                      required
                      type="text"
                      v-model="item.suffuring_from"
                      name="suffuring_from"
                      id="suffuring_from"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="resolved"
                      class="block text-sm font-medium text-gray-700"
                      >Resolved</label
                    >
                    <select
                      required
                      id="resolved"
                      v-model="item.resolved"
                      name="resolved"
                      class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    >
                      <option value="no">No</option>
                      <option value="yes">Yes</option>
                    </select>
                  </div>
                </div>
                <div
                  v-if="recordType == 'surgery'"
                  class="grid grid-cols-6 gap-6"
                >
                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="title"
                      class="block text-sm font-medium text-gray-700"
                      >Title</label
                    >
                    <input
                      required
                      type="text"
                      v-model="item.title"
                      name="title"
                      id="title"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="hospital"
                      class="block text-sm font-medium text-gray-700"
                      >Hospital Name</label
                    >
                    <input
                      required
                      type="text"
                      v-model="item.hospital"
                      name="hospital"
                      id="hospital"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="surgeon"
                      class="block text-sm font-medium text-gray-700"
                      >Surgeon Name</label
                    >
                    <input
                      required
                      type="text"
                      v-model="item.surgeon"
                      name="surgeon"
                      id="surgeon"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="surgery_date"
                      class="block text-sm font-medium text-gray-700"
                      >Surgery Date</label
                    >
                    <input
                      required
                      type="date"
                      v-model="item.surgery_date"
                      name="surgery_date"
                      id="surgery_date"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="resolved"
                      class="block text-sm font-medium text-gray-700"
                      >Resolved</label
                    >
                    <select
                      required
                      id="resolved"
                      v-model="item.resolved"
                      name="resolved"
                      class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    >
                      <option value="no">No</option>
                      <option value="yes">Yes</option>
                    </select>
                  </div>
                </div>
                <div
                  v-if="recordType == 'medication'"
                  class="grid grid-cols-6 gap-6"
                >
                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="title"
                      class="block text-sm font-medium text-gray-700"
                      >Medicine Name</label
                    >
                    <input
                      required
                      type="text"
                      v-model="item.title"
                      name="title"
                      id="title"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="dose"
                      class="block text-sm font-medium text-gray-700"
                      >Dose</label
                    >
                    <input
                      required
                      type="text"
                      v-model="item.dose"
                      name="dose"
                      id="dose"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="prescribed_by"
                      class="block text-sm font-medium text-gray-700"
                      >Prescribed By (Doctor)</label
                    >
                    <input
                      required
                      type="text"
                      v-model="item.prescribed_by"
                      name="prescribed_by"
                      id="prescribed_by"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="taking_from"
                      class="block text-sm font-medium text-gray-700"
                      >Taking From</label
                    >
                    <input
                      required
                      type="date"
                      v-model="item.taking_from"
                      name="taking_from"
                      id="taking_from"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="duration"
                      class="block text-sm font-medium text-gray-700"
                      >Course Duration (in days)</label
                    >
                    <input
                      required
                      type="text"
                      v-model="item.duration"
                      name="duration"
                      id="duration"
                      class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                    />
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label
                      for="resolved"
                      class="block text-sm font-medium text-gray-700"
                      >Resolved</label
                    >
                    <select
                      required
                      id="resolved"
                      v-model="item.resolved"
                      name="resolved"
                      class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    >
                      <option value="no">No</option>
                      <option value="yes">Yes</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <a
                  @click="goBack"
                  class="inline-flex justify-center py-2 px-4 text-sm font-medium rounded-md text-indigo-600 hover:text-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer"
                  >Back</a
                >
                <button
                  type="submit"
                  class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    recordType: 'problem',
    item: {},
  }),
  methods: {
    async addRecord() {
      const user = this.$auth.getUser()
      await this.$api.post(`/health-record/${user.sub}`, {
        entity_type: this.recordType,
        item: this.item,
      })
      this.$router.back()
      console.log(this.item)
    },
    goBack() {
      this.$router.back()
    },
  },
}
</script>
