<template lang="pug">
.flex.justify-between
  ElementUpcomingMeetings
  //- ElementCalendar
  div
    h2 New Requests
    div(v-if="Object.keys(request).length !== 0" class="mt-5 mb-2 md:mt-0 md:col-span-2 bg-gray-100 rounded p-2 w-96")
      form(@submit.prevent="createRequest")
        p.text-center Requesting to 
          span.font-semibold.uppercase {{getName(request.sub)}}
          p.text-green-500(v-if="requestMessage") {{requestMessage}}
          input(
            required
            v-model="selectedTime"
            type="date"
            name="taking_from"
            id="taking_from"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md")
          button.mt-2.uppercase.bg-indigo-700.text-indigo-100.px-4.py-1.rounded(type="submit") Send Request

    ul.flex.flex-col.gap-1
      li.bg-gray-100.rounded.p-2.w-96.flex.justify-between.items-center(v-for="(user, index) in users" :key="index")
        div.flex.flex-col
          span.font-semibold.uppercase {{getName(user.sub)}}
          
        div.flex.flex-col.text-sm
          button.uppercase.bg-indigo-700.text-indigo-100.px-4.py-1.rounded(@click="selectUser(user)") request

</template>

<script>
import moment from 'moment'
export default {
  data: () => ({
    appointmentRequests: [],
    users: [],
    moment,
    request: {},
    selectedTime: '',
    requestMessage: '',
  }),
  async created() {
    this.users = await this.$api.get(`/users`).then((item) => item.users)

    const user = this.$auth.getUser()
    this.appointmentRequests = await this.$api.get(
      `/appointment/request/${user.sub}`
    )
  },
  methods: {
    getName(sub) {
      const user = this.users.find((item) => item.sub === sub)
      return user.given_name + ' ' + user.family_name
    },
    async deleteRequest(request) {
      const user = this.$auth.getUser()

      await this.$api.delete(
        `/appointment/request/${request.request_to}/${request.SK.split('#')[1]}`
      )
      this.appointmentRequests = await this.$api.get(
        `/appointment/request/${user.sub}`
      )
    },
    async createAppointment(request) {
      await this.$api.post(`/appointment`, {
        caregiver_id: request.request_to,
        patient_id: request.request_from,
        meeting_link: `https://meet.jit.si/${request.request_to}/${request.request_from}`,
        meeting_time: request.proposed_time,
      })
      this.deleteRequest(request)
    },
    async createRequest() {
      const user = this.$auth.getUser()
      await this.$api.post(`/appointment/request/${user.sub}`, {
        request_to: this.request.sub,
        proposed_time: moment(this.selectedTime).format(),
      })
      this.requestMessage = 'Request Sent'
      setTimeout(() => {
        this.requestMessage = ''
        this.request = {}
      }, 5000)
    },
    selectUser(user) {
      this.request = user
    },
  },
}
</script>
