<template lang="pug">
div
  h2.text-2xl Taking care of
  div.grid.grid-cols-3.gap-2.my-4
    div.rounded-lg.bg-gray-100.overflow-hidden(v-for="request in requests")
      div.p-3.border-t-2.border-r-2.border-l-2.border-indigo-800.rounded-t-lg
        p User ID: {{request.request_from}}
        p Name: {{getName(request.request_from)}}
      div.flex.justify-around.border-2.rounded-b-lg.bg-indigo-500.text-white.border-indigo-800.font-semibold
        NuxtLink.border-r.flex-auto.text-center.border-indigo-800(:to="'/caregiver/activities/'+request.request_from") Activity
        NuxtLink.border-l.flex-auto.text-center.border-indigo-800(:to="'/caregiver/health-record/'+request.request_from") Profile


</template>
<script>
export default {
  layout: 'caregiver',
  data: () => ({
    requests: [],
    users: [],
  }),
  async created() {
    const user = this.$auth.getUser()
    this.users = await this.$api.get(`/users`).then((item) => item.users)
    this.requests = await this.$api.get(`/connect/request/${user.sub}`)
  },
  methods: {
    getName(sub) {
      const user = this.users.find((item) => item.sub === sub)
      console.log(user)
      return user.given_name + ' ' + user.family_name
      // return 'Name'
    },
  },
}
</script>
