<template lang="pug">
table.min-w-full.table-auto
  thead.border-b
    tr
      th.text-sm.font-medium.text-gray-900.px-6.py-4.text-left(scope="col" v-for="column in columns" :key="column.key") {{column.title}}
  tbody
    tr.border-b(v-for="data in dataset")
      td.text-sm.text-gray-900.px-6.py-4(v-for="key in columns.map(item=>item.key)") 
        span {{data[key]}}
      td.text-sm.text-gray-900.px-6.py-4(v-if="!btnDisabled")
        button(class="bg-red-700 text-gray-200 p-2 rounded" @click="deleteItem(data)")
          svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2")
            path(stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16")

</template>
<script>
export default {
  props: {
    columns: {
      type: Array,
      required: true,
    },
    dataset: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    btnDisabled: false,
  }),
  created() {
    const userGroups = this.$auth.getUserGroups()
    if (userGroups.includes('caregiver' || 'admin')) {
      this.btnDisabled = true
    }
  },
  methods: {
    async deleteItem(item) {
      console.log(item.id)
      console.log(item.entity_type)
      const user = this.$auth.getUser()
      await this.$api.delete(`/health-record/${user.sub}`, {
        item_id: item.id,
        entity_type: item.entity_type,
      })
      window.location.reload()
    },
  },
}
</script>
