<template>
  <form class="mt-8 space-y-6" @submit.prevent="login">
    <h3 class="text-2xl text-center">Login</h3>
    <p v-if="errorMessage" class="text-center text-red-400">
      {{ errorMessage }}
    </p>
    <input type="hidden" name="remember" value="true" />
    <div class="rounded-md shadow-sm -space-y-px">
      <div>
        <label for="email-address" class="sr-only">Email address</label>
        <input
          id="email-address"
          name="email"
          type="text"
          autocomplete="email"
          v-model="userInfo.email"
          required
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
          placeholder="Email address"
        />
      </div>
      <div>
        <label for="password" class="sr-only">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          autocomplete="current-password"
          v-model="userInfo.password"
          required
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
          placeholder="Password"
        />
      </div>
    </div>

    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <input
          id="remember-me"
          name="remember-me"
          type="checkbox"
          class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
        />
        <label for="remember-me" class="ml-2 block text-sm text-gray-900">
          Remember me
        </label>
      </div>

      <div class="text-sm">
        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
          Forgot your password?
        </a>
      </div>
    </div>

    <div>
      <button
        type="submit"
        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
          <!-- Heroicon name: solid/lock-closed -->
          <svg
            class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
        Sign in
      </button>
    </div>
    <div class="flex justify-center">
      <a class="text-indigo-500" href="/auth/register">Register</a>
    </div>
  </form>
</template>
<script>
export default {
  data: () => ({
    userInfo: {
      email: '',
      password: '',
    },
    errorMessage: '',
  }),
  methods: {
    login() {
      this.loading = true
      this.btnDisable = true
      this.isLoginDisable = true
      this.$auth
        .login({
          username: this.userInfo.email,
          password: this.userInfo.password,
        })
        .then((res) => {
          console.log('res1', res)
          // if (res === 'NEW_PASSWORD_REQUIRED') {
          //   this.activeWindow = true
          // } else {
          //   this.$vs.notification({
          //     progress: 'auto',
          //     color: 'success',
          //     position: 'top-right',
          //     title: 'Success',
          //     text: 'Log in successfull',
          //   })
          this.$router.push('/health-record')
          //   this.loading = false
          //   this.btnDisable = false
          //   this.$router.push({
          //     name: 'index',
          //   })
          // }
        })
        .catch((err) => {
          this.errorMessage = err.message
        })
    },
  },
}
</script>
