<template>
  <div class="h-screen flex justify-center items-center flex-col">
    <div class="w-96 bg-white rounded-lg p-4">
      <form class="mt-8 space-y-6" @submit.prevent="register">
        <h3 class="text-2xl text-center">Register</h3>
        <p v-if="errorMessage" class="text-center text-red-400">
          {{ errorMessage }}
        </p>
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="firstName" class="sr-only">First Name</label>
            <input
              id="firstName"
              name="firstName"
              type="text"
              v-model="userInfo.firstName"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="First Name"
            />
          </div>
          <div>
            <label for="lastName" class="sr-only">lastName</label>
            <input
              id="lastName"
              name="lastName"
              type="lastName"
              v-model="userInfo.lastName"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="lastName"
            />
          </div>
        </div>
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email-address" class="sr-only">Email address</label>
            <input
              id="email-address"
              name="email"
              type="text"
              v-model="userInfo.email"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Email address"
            />
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input
              id="password"
              name="password"
              type="password"
              v-model="userInfo.password"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Password"
            />
          </div>
        </div>

        <div>
          <button
            :disabled="btnDisable"
            type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg
                class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            Register
          </button>
        </div>
      </form>
    </div>
    <div
      v-if="verificationDialog"
      class="w-96 bg-white rounded-lg border-t border-dashed p-4"
    >
      <form class="mt-1 space-y-6" @submit.prevent="confirmRegistration">
        <h3 class="text-lg text-center">Verification</h3>
        <p class="text-center text-sm text-red-400">
          Please Check your email and insert your OTP code here.
        </p>
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="verificationCode" class="sr-only"
              >Verification Code</label
            >
            <input
              id="verificationCode"
              name="verificationCode"
              type="text"
              v-model="verificationCode"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Verification Code"
            />
          </div>
        </div>
        <div>
          <button
            :disabled="btnDisable"
            type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg
                class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            Confirm
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    userInfo: {
      email: '',
      password: '',
      firstName: '',
      lastName: '',
    },
    errorMessage: '',
    loading: false,
    btnDisable: false,
    verificationCode: '',
    verificationDialog: false,
  }),
  methods: {
    register() {
      this.isRegistered = true
      this.loading = true
      this.btnDisable = true
      this.$auth
        .register({
          username: this.userInfo.email,
          password: this.userInfo.password,
          attributes: {
            given_name: this.userInfo.firstName,
            family_name: this.userInfo.lastName,
            // 'custom:bill_name': 'my billing name'
          },
        })
        .then(() => {
          this.isRegistered = false
          this.loading = false
          this.btnDisable = false
          this.verificationDialog = true
          this.validVerification = true
          // this.$router.push(`/auth/verification?email=${userInfo.email}`)
        })
        .catch((err) => {
          this.isRegistered = false
          this.btnDisable = false
          this.loading = false
          this.error = true
          this.verificationDialog = false
          this.errorMessage = err.message
        })
    },
    login() {
      this.$auth
        .login({
          username: this.userInfo.email,
          password: this.userInfo.password,
        })
        .then(() => {
          this.verifyLoading = false
          this.$router.push('/health-record')
        })
        .catch()
    },
    confirmRegistration() {
      this.verifyLoading = true
      this.$auth
        .confirmRegistration({
          username: this.userInfo.email,
          code: this.verificationCode,
        })
        .then(async () => {
          await this.login()
          this.verifyLoading = false
          this.verificationDialog = false
          this.$router.push('/health-record')
        })
        .catch(() => {
          this.verifyLoading = false
        })
    },
  },
}
</script>
